<mat-drawer-container style="height:100%;" autosize>
    <form [formGroup]="newForm">
        <div class="container mt-5">
            <div class="row">
                <h1>Crear cuenta</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-2">
                <h2>Email</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su email</mat-label>
                    <input matInput placeholder="pat@ejemplo.com" formControlName="email" required>
                    <mat-error *ngIf="newForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <h2>Contraseña</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <button mat-raised-button>
                        Registrarse
                    </button>
                </div>
                <div class="col">
                    <button mat-raised-button color="warn" (click)="cleanFields()">
                        Limpiar Campos
                    </button>
                </div>
            </div>
        </div>
    </form>
</mat-drawer-container>