<mat-drawer-container style="height:100%;" autosize>
    <div class="container mt-3">
        <div class="row">
            <form [formGroup]="FormGroup">
                <h1>Registre un Actor</h1>

                <mat-divider></mat-divider>

                <h2 class="mt-3">Ingrese el nombre</h2>
                <div class="col-12">
                    <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="string" formControlName="name">
                    </mat-form-field>
                </div>
    
                <h2 class="mt-3">Ingrese la fecha de nacimiento</h2>
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>

                <div class="col-12 mt-3 mb-3">
                    <input type="file" name="archivos" value="Mouse" >
                </div>

                <div class="col-12">
                    <button mat-raised-button class="mt-3" color="primary" (click)="registrarActor()">
                        Guardar
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</mat-drawer-container>